const firebaseConfig = {
  apiKey: "AIzaSyAnjZ2iQVyAeinPeoxXxGXuJkw5YzP638U",
  authDomain: "car-service-a0516.firebaseapp.com",
  projectId: "car-service-a0516",
  storageBucket: "car-service-a0516.appspot.com",
  messagingSenderId: "512980777394",
  appId: "1:512980777394:web:393b116824b0ba40fe4cab"
};